@charset "utf-8";

@font-face {
    font-family: 'CabinRegular';
    src: url('Cabin-Regular-webfont.eot');
    src: url('Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Regular-webfont.woff') format('woff'),
         url('Cabin-Regular-webfont.ttf') format('truetype'),
         url('Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('Cabin-Italic-webfont.eot');
    src: url('Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Italic-webfont.woff') format('woff'),
         url('Cabin-Italic-webfont.ttf') format('truetype'),
         url('Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('Cabin-Medium-webfont.eot');
    src: url('Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Medium-webfont.woff') format('woff'),
         url('Cabin-Medium-webfont.ttf') format('truetype'),
         url('Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('Cabin-MediumItalic-webfont.eot');
    src: url('Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-MediumItalic-webfont.woff') format('woff'),
         url('Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('Cabin-SemiBold-webfont.eot');
    src: url('Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-SemiBold-webfont.woff') format('woff'),
         url('Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('Cabin-SemiBoldItalic-webfont.eot');
    src: url('Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('Cabin-Bold-webfont.eot');
    src: url('Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Bold-webfont.woff') format('woff'),
         url('Cabin-Bold-webfont.ttf') format('truetype'),
         url('Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('Cabin-BoldItalic-webfont.eot');
    src: url('Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-BoldItalic-webfont.woff') format('woff'),
         url('Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

div, p, h1, h2, h3, ul, li, img, hr	 { margin:0; padding:0; border:0;	}
a:hover	{	text-decoration: underline; cursor:pointer;	}
h1		{	font-size:1.8em; margin:0 0 20px 20px;	}
h2		{	font-family: 'CabinBold', Verdana; font-size: 1.4em; margin:0 30px 15px; clear: left;	}
h3		{	font-family: 'CabinBold', Verdana; margin:20px 10px;	}
p		{	font-size: 1em; margin:0 20px 20px 40px; line-height:1.6em;				}
ul		{	font: 1em 'CabinRegular', Verdana, Arial, Helvetica, sans-serif; margin-left:60px; margin-bottom:20px; line-height:1.2em;	}
strong  {	font-family: 'CabinBold', Verdana;		}

.logo	{
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
body {
	font: 100% 'CabinRegular', Verdana, Arial, Helvetica, sans-serif;
	background: #FFF;
	text-align: left;
	color: #000000;
	background-image:url(../images/white_leather_texture.jpg);
	background-repeat:repeat;
}
.header_dock	{
	position:fixed;
	top:0;
	left:64px;
	width:32px;
	height:100%;
	background-color:#4C618B;
	background-image:url(../images/dark_blue_texture.jpg);
	background-repeat:repeat;
	z-index:100;
}
.header_bend {
	position:absolute;
	width:11px;
	height:185px;
	background: url(../images/sprite_source.png) no-repeat -240px -80px;
}
.header_options		{
	position:relative;
	top:94%;
	left:3px;
	height:28px;
	width:26px;
	z-index:101;
	background: url(../images/sprite_source.png) no-repeat -108px -91px;
	cursor:pointer;
}
header	{
	position:relative;
	top:0;
	left:96px;
	width:auto;
	background-image:url(../images/dark_blue_texture.jpg);
	background-repeat:repeat-x;
	height:174px; /*	temporary	*/
	z-index:100;
	-webkit-box-shadow: 6px 6px 24px -4px #4C618B; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 6px 6px 24px -4px #4C618B;
}
header .logo	{
	position:relative;
	top:7px;
	left:20px;
	height:160px;
	width:260px;
	background:url(../images/sprite_source.png) no-repeat -269px -80px;
	z-index:101;
}
header p	{
	position:relative;
	top:-25px;
	left:40%;
	font-weight:bold;
	width:500px;
	color:#DD5928;
	z-index:101;
	text-align:right;
	font-size:1.2em;
}
header a	{
	font-family: 'Impact', Verdana, sans-serif;
	font-weight:normal;
	color:#fff;
	text-decoration:underline;
}
header a:hover	{
	color:#9DABAF;
	text-decoration:underline;
}
.content a	{
	color:#4C618B;
	text-decoration:none;
}
.content a:hover	{
	color:#DD5928;
}
.footer_dock	{
	position:fixed;
	top:0;
	left:32px;
	width:32px;
	height:100%;
	background-color:#DD5928;
	background: url(../images/orange_texture.jpg) repeat-y ;
	z-index:110;
}
.footer_bend {
	position:absolute;
	width:11px;
	height:108px;
	top:-9px;
	background: url(../images/sprite_source.png) no-repeat -258px -80px;
}
.footer_options		{
	position:relative;
	top:94%;
	left:3px;
	height:28px;
	width:26px;
	z-index:111;
	background: url(../images/sprite_source.png) no-repeat -82px -91px;
	cursor:pointer;
}
footer	{
	position:relative;
	bottom:0px;
	left:64px;
	width:100%;
	background: url(../images/orange_texture.jpg) repeat;
	height:110px; /*	temporary	*/
	z-index:110;
}

.icon_tray	{
	position:relative;
	right:3%;
	top:15%;
	height:47px;
	width:100%;
	z-index:111px;
	text-align:center;
}
.icon_tray div	{
	margin-right:18px; display:inline-block; position:relative; cursor:pointer; height:47px;
}
#tele		{ width:33px; background: url(../images/sprite_source.png) no-repeat 0 -119px      ; }
#email		{ width:50px; background: url(../images/sprite_source.png) no-repeat -79px -119px  ; top: 5px; }
#facebook	{ width:45px; background: url(../images/sprite_source.png) no-repeat -177px -119px ; }
#twitter	{ width:47px; background: url(../images/sprite_source.png) no-repeat -33px -119px  ; }
#linkedin	{ width:48px; background: url(../images/sprite_source.png) no-repeat -129px -119px ; }
#tele:hover		{ width:33px; background: url(../images/sprite_source.png) no-repeat 0 -166px      ; }
#email:hover	{ width:50px; background: url(../images/sprite_source.png) no-repeat -79px -166px  ; top: 5px; }
#facebook:hover	{ width:45px; background: url(../images/sprite_source.png) no-repeat -177px -166px ; }
#twitter:hover	{ width:47px; background: url(../images/sprite_source.png) no-repeat -33px -166px  ; }
#linkedin:hover	{ width:48px; background: url(../images/sprite_source.png) no-repeat -129px -166px ; }
.nav_dock	{
	position:fixed;
	top:0;
	left:0;
	width:32px;
	height:100%;
	background-image:url(../images/nav_bg.png);
	background-repeat:no-repeat;
	z-index:120;
}
.nav_options		{
	position:relative;
	top:94%;
	left:3px;
	height:28px;
	width:26px;
	z-index:121;
	background: url(../images/sprite_source.png) no-repeat -134px -91px;
	cursor:pointer;
}
#navbar.navbar_absolute	{
	position:absolute;
	top:185px;
	left:30px;
	width:798px;
	background:url(../images/sprite_source.png) top left;
	height:80px; /*	temporary	*/
	z-index:121;
}
#navbar.navbar_fixed	{
	position:fixed;
	top:0px;
	left:30px;
	width:798px;
	background-image:url(../images/nav_dock.png);
	height:80px; /*	temporary	*/
	z-index:121;
}
.nav_links		{
	position:relative;
	top:20px;
	left:305px;
	width:750px;
}
.nav_links a		{
	color:#DD5928;
	font-family:impact;
	font-size: 1.25em;
	margin-right:165px;
	text-transform:uppercase;
	text-decoration:none;
}
.nav_links a:hover	{
	color:#4C618B;
}
.content p a 	{
	color:#DD5928;
	text-decoration:none;
}
.content p a:hover	{
	text-decoration:underline;
}
.portfolio_samples	{
	position:fixed;
	top:0;
	left:96;
	width:206px;
	height:1200px;
	background-image:url(../images/a-roll_rough.jpg);
	background-repeat:repeat-y;
	margin:0 25px 0 96px;
	z-index:1;
}
article	{
	margin:85px 0 40px 315px;
	color:#4C618B;
	max-width:800px;
}

.copy_separator		{
	width:97%;
	height:10px;
	margin:0 auto 15px auto;
	background-image:url(../images/copy_separator.png);
}
.header_brand	{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: rl-tb;
	position:relative;
	top:69%;
	left:-2px;
	color:#BBB;
	font-size:1.5em;
	font-family: 'Impact', Verdana, sans-serif;
}
.nav_brand	{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: rl-tb;
	position:relative;
	top:69%;
	left:0px;
	color:#DD5928;
	font-size:1.5em;
	font-family: 'Impact', Verdana, sans-serif;
}
.footer_brand	{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: rl-tb;
	position:relative;
	top:69%;
	left:-2px;
	color:#4C618B;
	font-size:1.5em;
	font-family: 'Impact', Verdana, sans-serif;
}
.dark_blue	{
	color:#4C618B;
	font-size:.9em;
}
.dust_blue	{
	color:#9DABAF;
	font-size:.9em;
}
.orange	{
	color:#DD5928;
	font-size:.9em;
}
.white	{
	color:#FFF;
}
.copyright	{
	position:relative;
	top:20%;
	left:50%;
	width:400px;
	height:24px;
	z-index:111;
	text-align:right;
}


/*-------------------------RESUME STYLES--------------------------*/

.resume p								{	min-width:600px; max-width:700px; 											}
.employer								{	font-weight:bold; 															}
.position								{	font-weight:bold; font-size:.8em; 											}
.align_right							{	position:absolute; left:850px; right:200px; width:225px; text-align:right;	}
.location								{	font-weight:bold; font-size:.8em;											}
.dates									{	font-style:italic; font-size:.8em;											}
#education, #skills, #ft_experience, #fl_experience		{	margin-left:100px;											}
#ft_experience>h3, #fl_experience>h3	{   text-indent:-2.4em;															}
.education, .highlights					{	text-indent:-4.25em;			 											}
.experience								{	text-indent:-4.6em;															}
.skills									{	text-indent:-6em;															}
.text									{	font-size:.8em;																}
.ft_experience>.experience>.text br		{	margin-bottom:.5em;															}
.mw_clients								{	color:#DD5928; font-size:.8em; font-weight:bold;							}
.content .contact_media a				{	color:#4C618B; text-decoration:none;										}
.content .contact_media a:hover			{	color:#DD5928; text-decoration:underline;									}
.content .contact_media a:visited		{	color:#4C618B; text-decoration:none;										}

/*-----------------------PORTFOLIO STYLES-------------------------*/

.portfolio>section div>div			{	width:280px; height:340px; float:left; margin-right:10px; margin-left:10px;			}
.portfolio>section div>div>h3		{	text-align:center; font: 'Cabin', Verdana, sans-serif; font-size:1.4em;				}
.sample_image					{	width:280px; height:221px;															}
.portfolio_page article			{	margin:85px 0 40px 114px; color:#4C618B; max-width:1440px;							}
.portfolio>section a>h2			{	display:inline;	margin-top:100px; margin-right:45px;								}
.portfolio .copy_separator		{	margin-top:20px; margin-bottom:20px;												}
.portfolio>section				{	clear:both;																			}
.twirl_down						{	background: url(../images/sprite_source.png) no-repeat -20px -98px;
									display:inline-block; width:20px; height:21px;	}
.twirl_down:hover					{	background: url(../images/sprite_source.png) no-repeat -61px -98px;
									display:inline-block; width:20px; height:21px;	}
.twirled						{	background: url(../images/sprite_source.png) no-repeat 0 -98px;
									display:inline-block; width:20px; height:21px;	}
.twirled:hover				{	background: url(../images/sprite_source.png) no-repeat -41px -98px;
									display:inline-block; width:20px; height:21px;	}
/*-----------------------LIGHTBOX STYLES----------------------------*/

#lightbox{
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	z-index: 9999;
	text-align: center;
	line-height: 0;
	}

#lightbox a img							{ border: none; 							}
#lightbox a, #lightbox a:visited		{ color:#FFFFFF; text-decoration:none;		}
#lightbox a:hover						{ color:#DD5928; text-decoration:underline;	}
#outerImageContainer{
	position: relative;
	background-image:url(../images/white_leather_texture.jpg);
	background-repeat:repeat;
	padding:20px;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	-webkit-border-radius: 12px 12px 0 0; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 12px 12px 0 0; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	}

#imageContainer{
	padding: 10px 0;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 20;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }


#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #000;
	background-image:url(../images/dark_blue_texture.jpg);
	background-repeat:repeat;
	-webkit-border-radius: 0 0 12px 12px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 0 0 12px 12px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	margin: 0 auto;
	line-height: 1.4em;
	padding:0 20px;
	}

#imageDataContainer h3	{	font: 3.0em 'Impact', Verdana, sans-serif;	}
#imageDataContainer p	{	font: 18px 'Cabin', Helvetica, sans-serif; font-weight: normal; margin-top: 5px; padding-bottom:15px; line-height:1.4em;	}
#imageData{
	padding:0 10px;
	color:#fff;
	}
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; margin-top:20px;	}

#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9998;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}

* html>body .clearfix {
	display: inline-block;
	width: 100%;
	}

* html .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
	}


/*  Gradient to be applied as an overlay	*/
#imageDataContainer_gradient	{
	background: -moz-linear-gradient(top,  rgba(40,40,40,0.5) 0%, rgba(255,255,255,0.01) 50%, rgba(251,251,251,0) 51%, rgba(58,58,58,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,40,40,0.5)), color-stop(50%,rgba(255,255,255,0.01)), color-stop(51%,rgba(251,251,251,0)), color-stop(100%,rgba(58,58,58,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(40,40,40,0.5) 0%,rgba(255,255,255,0.01) 50%,rgba(251,251,251,0) 51%,rgba(58,58,58,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(40,40,40,0.5) 0%,rgba(255,255,255,0.01) 50%,rgba(251,251,251,0) 51%,rgba(58,58,58,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(40,40,40,0.5) 0%,rgba(255,255,255,0.01) 50%,rgba(251,251,251,0) 51%,rgba(58,58,58,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(40,40,40,0.5) 0%,rgba(255,255,255,0.01) 50%,rgba(251,251,251,0) 51%,rgba(58,58,58,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80282828', endColorstr='#803a3a3a',GradientType=0 ); /* IE6-9 */
}