.d3 {
	margin-top:20px;
	margin-bottom:200px;
	.d3-chart-title {
		@media screen and (min-width:$screen-sm-min) {
			float:right;
		}
	}
	.d3-select {
		margin-top:20px;
		margin-bottom:20px;
	}
	.d3-y-labels {
		clear:left;
	}
	h5 {
		text-align: right;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: 0;
	}
	rect {
		transition:.5s fill;
		&:hover {
			fill: $brand-accent;
		}
	}
}

#tooltip {
	position: absolute;
	overflow:hidden;
	background: $gray-lighter;
	left: 5%;
	width: 300px;
	height: auto;
	padding:0;
	border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
	pointer-events: none;
	h3 {
		position: absolute;
		top: 0;
		padding-left: 20px;
		text-shadow: 2px 2px 4px #000;
		color: white;
	}
}