footer	{
	position:relative;
	background: url(../images/orange_texture.jpg) repeat;
	height:110px; /*	temporary	*/
	z-index:110;
}

.copyright	{
	// top:20%;
	// left:50%;
	// width:400px;
	// height:24px;
	// z-index:111;
	// text-align:right;
}