.header_dock	{
	display:none;
	// position:fixed;
	// top:0;
	// left:64px;
	// width:32px;
	// height:100%;
	// background-color:$brand-primary;
	// background-image:url(../images/dark_blue_texture.jpg);
	// background-repeat:repeat;
	// z-index:100;
}

.header_bend {
	display:none;
	// position:absolute;
	// width:11px;
	// height:185px;
	// background: url(../images/sprite_source.png) no-repeat -240px -80px;
}

.header_options		{
	position:relative;
	top:94%;
	left:3px;
	height:28px;
	width:26px;
	z-index:101;
	background: url(../images/sprite_source.png) no-repeat -108px -91px;
	cursor:pointer;
}

header	{
	position:relative;
	background-image:url(../images/dark_blue_texture.jpg);
	padding-top:	$padding-base-vertical;
	padding-bottom:	$padding-base-vertical;
	z-index:2;
    box-shadow: 6px 6px 24px -4px $brand-primary;
    >.row {
    	display:flex;
    }
	.logo	{
		// display:inline-block;
		// margin:7px 20px;
		// height:160px;
		// width:260px;
		// background:url(../images/sprite_source.png) no-repeat -269px -80px;
	}
}

.nav-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}