.header_dock	{
	position:fixed;
	top:0;
	left:64px;
	width:32px;
	height:100%;
	background-color:#4C618B;
	background-image:url(../images/dark_blue_texture.jpg);
	background-repeat:repeat;
	z-index:100;
}
.header_bend {
	position:absolute;
	width:11px;
	height:185px;
	background: url(../images/sprite_source.png) no-repeat -240px -80px;
}
.header_options		{
	position:relative;
	top:94%;
	left:3px;
	height:28px;
	width:26px;
	z-index:101;
	background: url(../images/sprite_source.png) no-repeat -108px -91px;
	cursor:pointer;
}
header	{
	position:relative;
	top:0;
	left:96px;
	width:auto;
	background-image:url(../images/dark_blue_texture.jpg);
	background-repeat:repeat-x;
	height:174px; /*	temporary	*/
	z-index:100;
	-webkit-box-shadow: 6px 6px 24px -4px #4C618B; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 6px 6px 24px -4px #4C618B;
}
header .logo	{
	position:relative;
	top:7px;
	left:20px;
	height:160px;
	width:260px;
	background:url(../images/sprite_source.png) no-repeat -269px -80px;
	z-index:101;
}
header p	{
	position:relative;
	top:-25px;
	left:40%;
	font-weight:bold;
	width:500px;
	color:#DD5928;
	z-index:101;
	text-align:right;
	font-size:1.2em;
}
header a	{
	font-family: 'Impact', Verdana, sans-serif;
	font-weight:normal;
	color:#fff;
	text-decoration:underline;
}
header a:hover	{
	color:#9DABAF;
	text-decoration:underline;
}