.header_brand	{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: rl-tb;
	position:relative;
	top:69%;
	left:-2px;
	color:#BBB;
	font-size:1.5em;
	font-family: 'Impact', Verdana, sans-serif;
}
.nav_brand	{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: rl-tb;
	position:relative;
	top:69%;
	left:0px;
	color:#DD5928;
	font-size:1.5em;
	font-family: 'Impact', Verdana, sans-serif;
}
.footer_brand	{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: rl-tb;
	position:relative;
	top:69%;
	left:-2px;
	color:#4C618B;
	font-size:1.5em;
	font-family: 'Impact', Verdana, sans-serif;
}