.portfolio {
	>section {
		div>div {
			width:280px;
			height:340px;
			float:left;
			margin-right:10px;
			margin-left:10px;
			>h3 {
				@extend .text-center;
				// font: 'Cabin', Verdana, sans-serif;
				// font-size:1.4em;
			}
		}
		a>h2 {
			display:inline-block;
			margin-right:45px;
		}
	}
}

.twirl_down {
	background: url(../images/sprite_source.png) no-repeat -20px -98px;
	display:inline-block;
	width:20px; height:21px;
	&:hover {
		background: url(../images/sprite_source.png) no-repeat -61px -98px;
		display:inline-block;
		width:20px; height:21px;
	}
}

.twirled {
	background: url(../images/sprite_source.png) no-repeat 0 -98px;
	display:inline-block; width:20px; height:21px;
	&:hover {
		background: url(../images/sprite_source.png) no-repeat -41px -98px;
		display:inline-block; width:20px; height:21px;
	}
}

