.portfolio {
	h3 {
		@extend .text-center;
	}
	img {
		@extend .center-block;
		@extend .img-responsive;
	}
	.row>div {
		@extend .col-xs-12;
		@extend .col-sm-6;
		@extend .col-md-4;
		height: 350px;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: $screen-xs-max) {
			justify-content: center;
		}
	}
}

.twirl_down {
	background: url(../images/sprite_source.png) no-repeat -20px -98px;
	display:inline-block;
	width:20px; height:21px;
	margin-left:45px;
	&:hover {
		background: url(../images/sprite_source.png) no-repeat -61px -98px;
		display:inline-block;
		width:20px; height:21px;
	}
}

.twirled {
	background: url(../images/sprite_source.png) no-repeat 0 -98px;
	display:inline-block; width:20px; height:21px;
	margin-left:45px;
	&:hover {
		background: url(../images/sprite_source.png) no-repeat -41px -98px;
		display:inline-block; width:20px; height:21px;
	}
}

