.employer {
	font-weight:bold;
}

// #education,
// #skills,
// #ft_experience,
// #fl_experience {
// 	margin-left:100px;
// }

// #ft_experience>h3,
// #fl_experience>h3 {
// 	text-indent:-4em;
// }

.left-heading {
	font-weight: bold;
	color: $brand-accent;
}

.text {
	font-size:.8em;
}

.ft_experience>.experience>.text br {
	margin-bottom:.5em;
}

.mw_clients {
	color:$brand-accent;
	font-size:.8em;
	font-weight:bold;
}

.contact_media {
	>div {
		margin-top:10px;
	}
	a {
		color:$brand-primary;
		text-decoration:none;
		font-weight:	bold;
		&:hover {
			color:$brand-accent;
			text-decoration:underline;
		}
		&:visited {
			color:$brand-primary;
			text-decoration:none;
		}
	}
}