/* ==========================================================================
    colors
   ========================================================================== */
/* line 3, ../../scss/layout/login.scss */
figure.lg-graphic {
  background: url("/static/img/construction_12.jpg") no-repeat 0 30%;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

/* line 15, ../../scss/layout/login.scss */
fieldset.login-panel {
  border: none;
}
/* line 18, ../../scss/layout/login.scss */
fieldset.login-panel .login-fields {
  background: rgba(255, 255, 245, 0.75);
  padding: 3em 1.5em;
  border-radius: 1em;
  min-width: 300px;
}
/* line 23, ../../scss/layout/login.scss */
fieldset.login-panel .login-fields input, fieldset.login-panel .login-fields button, fieldset.login-panel .login-fields a {
  margin-bottom: 3em;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
/* line 27, ../../scss/layout/login.scss */
fieldset.login-panel .login-fields a {
  margin-top: -3em;
  display: block;
}
/* line 33, ../../scss/layout/login.scss */
fieldset.dos {
  background: url("/static/img/construction_11.jpg") no-repeat 35% 35%;
}
/* line 35, ../../scss/layout/login.scss */
fieldset.dos .login-fields {
  min-width: none;
}
/* line 38, ../../scss/layout/login.scss */
fieldset.dos + .lg-graphic {
  display: none;
}

/* line 44, ../../scss/layout/login.scss */
.style-switch {
  position: absolute;
  top: 25%;
  right: 3%;
}
