  <div class="footer_dock">
        <!--<div class="footer_options"><a title="Footer Options"></a></div>
        <div class="footer_brand">#<span class="dust_blue">FOOTER</span></div>-->
    </div>
    <footer id="footer">
        <div class="footer_bend"></div>
        <div class="icon_tray">
            <a href="tel:3317258451" class="mobile" title="Fastest response: Call me!"><div id="tele"></div></a>
            <a href="mailto:alexandercreative@gmail.com" title="alexandercreative_at_gmail.com"><div id="email"></div></a>
            <a href="https://www.facebook.com/alex.franklin.336?ref=ts&fref=ts" target="_blank" title="Alex Franklin on Facebook"><div id="facebook"></div></a>
            <a href="https://twitter.com/designdotme" target="_blank" title="@designdotme on twitter"><div id="twitter"></div></a>
            <a href="http://www.linkedin.com/profile/view?id=39739938&trk=hb_tab_pro_top" target="_blank" title="Alex Franklin on LinkedIn"><div id="linkedin"></div></a>
        </div>
        <div class="copyright"><span class="dark_blue">&copy;</span> 2010-2016 <span class="white">Alexander Franklin</span></div>
  </footer>