<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="header_dock">
       <!--<div class="header_options"><a title="Header Options"></a></div>
       <div class="header_brand">#<span class="orange">HEADER</span></div>-->
    </div>
    <header id="header">
      <div class="header_bend"></div>
      <div class="logo" title="Official logo of Alexander Franklin"></div>
      <div class="nav_links">
          <!--{% for p in site.pages %}
              <a href="{{ site.baseurl}}{{ p.url }}" title="{{ p.description }}">{{ p.title }}</a>
          {% endfor %}-->
        <!--<a href="../default/" title="alexanderdesign.me front page">HOME</a>-->
          <a href="portfolio.html" title="Portfolio Samples">PORTFOLIO</a>
          <a href="personal.html" title="Resume and contact information">RESUME</a>
          <!--<a href="../process/" title="The Alexander Design Process&copy;">WORKFLOW</a>
          <a href="../philosophy/" title="Design philosophy and influence">PHILOSOPHY</a>-->
      </div>
        <!--<p>front end <span class="header_link"><a href="/#web" title="web portfolio">web</a></span> development and <span class="header_link"><a href="/#print" title="print portfolio">print</a></span> design</p>-->
    </header>