    <div class="nav_dock">
    	<!--<div class="nav_options"><a title="Navigation Options"></a></div>
        <div class="nav_brand">#<span class="dark_blue">NAV</span></div>-->
    </div>
    <nav id="navbar" class="navbar_absolute" >
    	<div class="nav_links">
            <!--{% for p in site.pages %}
                <a href="{{ site.baseurl}}{{ p.url }}" title="{{ p.description }}">{{ p.title }}</a>
            {% endfor %}-->
        	<!--<a href="../default/" title="alexanderdesign.me front page">HOME</a>-->
            <a href="portfolio.html" title="Portfolio Samples">PORTFOLIO</a>
            <a href="personal.html" title="Resume and contact information">RESUME</a>
            <!--<a href="../process/" title="The Alexander Design Process&copy;">WORKFLOW</a>
            <a href="../philosophy/" title="Design philosophy and influence">PHILOSOPHY</a>-->
        </div>
    </nav>