body {
	background-image:url(../images/white_leather_texture.jpg);
	background-repeat:repeat;
	overflow-x:hidden;
	@media screen and (max-width:$screen-xs-max) {
		background: $gray-lighter;
	}
}

.portfolio_samples	{
	position:fixed;
	top:0;
	left:0;
	width:206px;
	height:1200px;
	background-image:url(../images/a-roll_rough.jpg);
	background-repeat:repeat-y;
	z-index:1;
	@media screen and (max-width: $screen-sm-max) {
		display:none;
	}
}

article	{
	margin-left: 235px;
	color:$brand-primary;
	@media screen and (max-width: $screen-sm-max) {
		margin:0;
	}
}

// this query keeps the page from scrolling right on mobile devices
@media screen and (max-width: $screen-xs-max) {
	header {
		position: fixed;
		width: 100%;
	}
	article>.container-fluid>*:first-child {
		margin-top:22vw;
	}
}

.copy_separator		{
	@extend .hidden-xs;
	width:97%;
	height:10px;
	margin:20px auto;
	background-image:url(../images/copy_separator.png);
}

.leather-panel {
	@media screen and (max-width: $screen-xs-max) {
		margin:10px 0;
		padding:20px;
		background-image:url(../images/white_leather_texture.jpg);
		background-repeat:repeat;
		border-top:		1px solid $gray-lighter;
		border-bottom:	1px solid $gray-light;
		box-shadow: 3px 3px 12px -2px $gray;
	}
}
