
body {
	background-image:url(../images/white_leather_texture.jpg);
	background-repeat:repeat;
}

.content a	{
	color:#4C618B;
	text-decoration:none;
}
.content a:hover	{
	color:#DD5928;
}

.content p a 	{
	color:#DD5928;
	text-decoration:none;
}
.content p a:hover	{
	text-decoration:underline;
}
article	{
	margin:85px 0 40px 315px;
	color:#4C618B;
	/*max-width:800px;*/
}

.copy_separator		{
	width:97%;
	height:10px;
	margin:0 auto 15px auto;
	background-image:url(../images/copy_separator.png);
}


.copyright	{
	position:relative;
	top:20%;
	left:50%;
	width:400px;
	height:24px;
	z-index:111;
	text-align:right;
}