
body {
	background-image:url(../images/white_leather_texture.jpg);
	background-repeat:repeat;
	overflow-x:hidden;
}

.portfolio_samples	{
	position:fixed;
	top:0;
	left:0;
	width:206px;
	height:1200px;
	background-image:url(../images/a-roll_rough.jpg);
	background-repeat:repeat-y;
	z-index:1;
	@media screen and (max-width: $screen-sm-max) {
		display:none;
	}
}

article	{
	margin-left: 235px;
	color:$brand-primary;
	@media screen and (max-width: $screen-sm-max) {
		margin:20px;
	}
}

.copy_separator		{
	width:97%;
	height:10px;
	margin:20px auto;
	background-image:url(../images/copy_separator.png);
}
