<article>
    <div class="resume container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                <h1 title="Resume and Contact Information">Alexander Franklin</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                <p>For a print ready PDF resume, <a href="pdfs/Alex_Franklin_11-4-2019.pdf" target="_blank" title="downloadable pdf">click here</a>.</p>
            </div>
        </div>

        <div class="contact_media row">
            <div class="col-xs-12">
              <a href="tel:6466675195" class="mobile" title="646-667-5195">
                <div class="row telephone">
                    <div class="col-xs-3">
                        <span id="tele" class="pull-right"></span>
                    </div>
                    <div class="col-xs-9">
                        <p>646.667.5195</p>
                    </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12">
              <a href="mailto:alexandercreative@gmail.com" title="alexandercreative@gmail.com">
                <div class="row email">
                    <div class="col-xs-3">
                        <span id="email" class="pull-right"></span>
                    </div>
                    <div class="col-xs-9">
                        <p>alexandercreative@gmail.com</p>
                    </div>
                </div>
              </a>
            </div>
        </div>

        <div class="copy_separator"></div>

        <div id="education" class="row">
            <div class="col-xs-12 col-sm-3">
                <p class="left-heading">Education:</p>
            </div>
            <div class="col-xs-12 col-sm-7 leather-panel">
                <strong>Waubonsee Community College <span class="pull-right location">Sugar Grove, IL</span></strong><br />
                <span class="small"><em>Associate's Degree&#8212;Graphic Communication</em><br />
                Dean's List Fall 2002 - Winter 2004, 2008</span><br /><br />
                <strong>College for Creative Studies <span class="pull-right location">Detroit, MI</span></strong><br />
                <span class="small"><em>Courseworks towards Bachelor's Degree of Industrial Design</em><br />
                College for Creative Studies Excellence Scholarship<br />
                Dean's List Fall 2005</span>
            </div>
        </div> <!--end "education" row-->

        <div class="copy_separator"></div>

        <div id="skills" class="row">
            <div class="col-xs-12 col-sm-3">
                <p class="left-heading">Highlights:</p>
            </div>
            <div class="col-xs-12 col-sm-7 leather-panel">
                <span class="small">
                15+ years design and development experience<br />
                4 years experience in design teams
                9 years experience in development teams
                2+ years management experience
                150+ user feedback interviews
                Created, collaborated and updated multiple design systems<br />
                Ambassador to engineering, architecture, and project planners/organizers<br />
                Created processes to document, understand and support pipeline delivery<br />
                Development and leadership background anchors creative decisions and initiatives
                </span>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p class="left-heading">Software Skills:</p>
            </div>
            <div class="col-xs-12 col-sm-7 leather-panel">
                <strong>Frameworks</strong><br />
                <span class="small">Typescript, Angular, React, Knockout, JQuery and other javascript libraries, D3 and other data visualizations, Bootstrap, Foundation, Visual Studio, Azure, Git, Node</strong><br />
                <span class="small">Adobe XD/Photoshop/Illustrator/Premiere/Acrobat, Pendo, Figma, Campout, Bonfire, Okta, Aha!, VersionOne, Jira, Confluence, Slack, Miro, Google Docs/Slides/Sheets, Gmail/Calendar</span>
            </div>
        </div><!--end "skills" div-->

        <div class="copy_separator"></div>

        <div id="ft_experience" class="row">
            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <h3>Employment</h3>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p class="left-heading hidden-xs">Experience:</p>
            </div>
            <div class="col-xs-12 col-sm-7">
               <strong>WebPT</strong>
               <span class="pull-right">Phoenix, AZ</span><br />
               <span class="position">Lead Product Designer</span>
               <em class="pull-right">March 2020 - Present</em><br>
               <span class="small">Developed standards and processes for team deliverables and discussions<br>
                Rebuilt design library and coordinated ongoing update projects<br>
                Introduced Design Briefs and kick-offs to better communicate with other teams<br>
                Established institutional knowledge discovery and documentation through workflow validation<br>
                Mentored several designers in project planning and management<br>
                Createed tutorial videos to train other designers in technical creative processes<br>
                Created and planned design stories to support engineering roadmap<br>
                Became SME in Company's most complex and intricate product<br>
                Conducted over 100 user feedback sessions to validate product designs<br />
                Developed and supported product feature adoption initiatives<br />
                Worked directly with developers to create and update reusable UI components<br />
                Go-to resource for UX consistency and usability question to keep project planning and development in motion</span>
            </div>
            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
               <strong>ATI Physical Therapy</strong>
               <span class="pull-right">Bolingbrook, IL</span><br />
               <span class="position">UX/UI Design and Development Lead</span>
               <em class="pull-right">May 2016 - February 2020</em><br>
               <span class="small">Developed standards for front-end architecture and coding.<br>
                Led development team in creating several internal applications spanning PHI, data visualization dashboards, customer intake, scheduling, insurance verfication, patient search and account ledger.<br>
                Built component libraries and style guides.<br>
                Ambassador in translating business needs into interfaces.<br>
                Upgraded/updated legacy software frameworks and interfaces.<br>
                Mentored and trained development team in best practices and frameworks, using libraries and guides.<br>
                Provide detailed development estimates and accurate timelines to IT leadership.<br>
                Created mockups, POCs and prototypes to cement solution discovery.<br>
                Worked with delivery team in creating modern deployment steps agnostic of environment.<br />
                Provided detailed unit testing scenarios to QA team to aid in understanding functionality and reducing testing time.</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
               <strong>Mirus Research</strong>
               <span class="pull-right">Normal, IL</span><br />
               <span class="position">User Interface and Interaction Developer</span>
               <em class="pull-right">January 2014 - May 2016</em><br>
               <span class="small">Worked with backend programmers in determining proper toolsets for interfacing front and backend data and output.<br>
                Sketched, mockup and prototype user interfaces.<br>
                Built responsive interfaces utilizing and extending frontend frameworks.<br>
                Maintained team code repositories as the lead front end developer.<br>
                Formatted and displayed data from databases using MVC methodology in conjunction with data visualization frameworks.<br>
                Worked directly with clients to guide ideas and end-states into projected user experience life spans, and converted life spans into user-states.<br>
                Replaced several JavaScript functions with CSS3 solutions, reducing dependency on JS and further abstracting front and backend code.<br>
                Documented style and pattern guides detailing the methods used to maintain a consistent frontend codebase.<br>
                Utilized Giffy wireframing for sketch layouts.<br>
                Retrofitted past projects with responsive device solutions, as well as creating functionality for modern and mobile browsers.<br />
                Consistently delivered integration-ready polished solutions ahead of schedule.</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
               <strong>Citizen's Equity First Credit Union (CEFCU)</strong>
               <span class="pull-right">Peoria, IL</span><br />
               <span class="position">Interactive Website Designer</span>
               <em class="pull-right">May 2013 - September 2013</em><br>
               <span class="small">Performed updates on intranet and public-facing .com sites.<br>
                Used Adobe CS6 software and wrote code in PHP, Javascript, jQuery, CSS, and HTML within Zend framework.<br>
                Worked within team development environment, interfacing with programmers and analysts to develop intuitive and attractive interfaces.<br>
                Experienced fast-paced, multi-stage workflow incorporating User Acceptance Testing (UAT) requiring prioritization and minimal management.<br>
                Coded a mobile-first responsive sweepstakes microsite utilizing HTML5, Bootstrap front-end framework, and jQuery validation library within
                a Zend framework application.<br>
                Created several promotional pages in partnership with and in conformance to Visa branding guidelines.<br>
                Developed look and feel of promotional pages through leading meetings with Marketing Department.<br>
                Performed Site Analysis of CEFCU.com in areas of performance, visibility, accessibility, content, typography and layout.<br>
                Created interactive web tool that suggests products based on customer input.<br>
                Completed Zend Studio training course under the tutelage of Zend Evangelist Adam Culp.</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>Girl Scouts of Northern Illinois</strong>
                <span class="pull-right">Elgin, IL</span><br />
                <span class="position">Website/Internet Manager</span>
                <em class="pull-right">October 2009 - November 2012</em><br>
                <span class="small">Promoted upon merger of councils to Website Manager in October 2009<br />
                Exercised proficiency in HTML, CSS, and Javascript in a WAMP environment<br />
                Hand-coded e-newsletter templates weekly in addition to urgent messages and updates<br />
                Recorded and edited council video, photography, and audio assets<br />
                Administrated and populated council YouTube page with video assets<br />
                Solely responsible for maintenance and yearly website redesign<br />
                Administration of council Facebook, Twitter, and Wordpress blog profiles<br />
                Worked with Director of Communications to develop branding strategy<br />
                Developed marketing strategy through e-mail, podcast, text, and RSS campaigns<br />
                Developed graphic materials using InDesign, Photoshop, Illustrator and Dreamweaver</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>Fox Valley Girl Scouts Council</strong>
                <span class="pull-right">Sugar Grove, IL</span><br />
                <span class="position">Intern, Communications Specialist</span>
                <em class="pull-right">May 2008 - October 2009</em><br />
                <em class="small">Promoted from internship to full-time position October 2008</em><br />
                <span class="small">Redesigned council website using HTML and CSS<br />
                Developed graphic materials using InDesign, Photoshop, Illustrator and Dreamweaver<br />
                </span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>Mindwave Design</strong>
                <span class="pull-right">Aurora, IL</span><br />
                <span class="position">Intern, Web/Production Designer</span>
                <em class="pull-right">June 2006 - March 2007</em><br />
                <em class="small">Promoted from internship to full-time position December 2006</em><br />
                The Newsroom and Taste Lounge of Minneapolis, MN<br />
                <span class="small">Developed website designs and graphics<br />
                Programmed site structure and managed files on remote server</span><br /><br />
                Midwest Environmental Consulting<br />
                <span class="small">Storyboard and Layout designs for company website<br />
                Site structure and remote server programming<br />
                Created animated graphics for website<br />
                Created email accounts for management, linked to site</span><br /><br />
                Urban Influence Magazine<br />
                <span class="small">Programmed and updated website monthly<br />
                Created HTML forms for event registration<br />
                Created online photo galleries for events</span>
            </div>
        </div><!---end "ft_experience" div -->

        <div class="copy_separator"></div>

        <div id="fl_experience" class="row">
            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <h3>Freelance Graphic/Web Design and Development</h3>
            </div>

            <div class="col-xs-12 col-sm-3">
                <p class="left-heading hidden-xs">Experience:</p>
            </div>

            <div class="col-xs-12 col-sm-7">
                <strong>Baitmaker</strong>
                <span class="pull-right">Yorkville, IL</span><br />
                <span class="position">Website Designer/Developer</span>
                <em class="pull-right">January 2013 - March 2013</em><br />
                <span class="small">Create custom javascript application module<br />
                Install and style e-commerce shopping cart<br />
                Design and develop site map and theme using HTML and CSS<br />
                Photograph and optimize site products and graphics</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>Countyline Pub &amp; Grill</strong>
                <span class="pull-right">Sandwich, IL</span><br />
                <span class="position">Website Design and Marketing</span>
                <em class="pull-right">February 2013 - March 2013</em><br />
                <span class="small">Develop website from sketch to production using HTML, CSS, and Javasript<br />
                Design company logo using Adobe Illustrator and Photoshop<br />
                Layout newspaper ads and menus using consistent brand management in InDesign</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>Johnny K's Hot Dogs</strong>
                <span class="pull-right">Sandwich, IL</span><br />
                <span class="position">Website Design and Marketing</span>
                <em class="pull-right">January 2012 - July 2012</em><br />
                <span class="small">Plan, design, and implement local business website using HTML, CSS, and Javascript<br />
                Installed Facebook API for limited client content management (CMS)</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>JLG Brickpaving</strong>
                <span class="pull-right">Somonauk, IL</span><br />
                <span class="position">Website Design and Implementation</span>
                <em class="pull-right">May 2011 - July 2011</em><br />
                <span class="small">Plan, design, and implement local business website using HTML, CSS, and Javascript</span>
            </div>=

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>Yingling Landscaping</strong>
                <span class="pull-right">Sandwich, IL</span><br />
                <span class="position">Website Design and Implementation</span>
                <em class="pull-right">April 2009 - June 2009</em><br />
                <span class="small">Plan, design and implement local business website using HTML, CSS, and Javascript<br />
                Administrated web hosting and server usage with FTP interface</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>Harry Otto Printing Company</strong>
                <span class="pull-right">Elburn, IL</span><br />
                <span class="position">Freelance Web Developer</span>
                <em class="pull-right">September 2008 - November 2008</em><br />
                <span class="small">Repair Active Server Page script to restore functionality to shopping cart<br />
                Post Christmas product online to Dynamically generated shopping cart<br />
                Update outdated Flash video</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>Flyware</strong>
                <span class="pull-right">Chicago, IL</span><br />
                <span class="position">Illustrator</span>
                <em class="pull-right">May 2008</em><br />
                <span class="small">Developed logo for startup fishing apparel company in Illustrator and Photoshop<br />
                Illustrate outdoor scene for use on apparel</span>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-offset-3">
                <strong>Reel Pro Video</strong>
                <span class="pull-right">Batavia, IL</span><br />
                <span class="position">Freelance Web Developer</span>
                <em class="pull-right">December 2007 - March 2008</em><br />
                <span class="small">Created sitemap and theme using HTML, CSS, and Javascript<br />
                Administrated web hosting and server usage</span>
            </div>
        </div><!---end "fl_experience" div -->
    </div><!--end "resume content" div-->
</article>
