
/* ==========================================================================
   Draft Corrective Actions
   ========================================================================== */

#content .draft-ca { // #content included for specificity. Do not remove
    .factors {
        background:$light_accent;
        border:1px dashed $theme_color;
        padding-left:1em;
        padding-right:1em;
        h4, h5 {
            margin:0;
            line-height:1.5em;
        }
        span {
            margin:0;
            color:$secondary_color;
        }
        i.fi-play {
            margin:.5em 40%;
            font-size:1em;
        }
    }
    .actions {
        border:none;
        margin-bottom:0;
        padding-bottom:0;
        div:first-child label {
            margin-bottom:1.5em;
        }
    }
}
#content > .row:nth-last-child(2) legend.collapsed {
    margin-bottom:0;
}
