header	{
	position:relative;
	background-image:url(../images/dark_blue_texture.jpg);
	padding-top:	$padding-base-vertical;
	padding-bottom:	$padding-base-vertical;
	z-index:2;
	box-shadow: 6px 6px 24px -4px $brand-primary;
	>.row {
		display:flex;
	}
	.logo	{
		// display:inline-block;
		// margin:7px 20px;
		// height:160px;
		// width:260px;
		// background:url(../images/sprite_source.png) no-repeat -269px -80px;
	}
}

.nav-wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.nav-brand {
	img {
		@media (max-width:$screen-xs-max) {
			height:60px;
			width:95px;
			max-width:initial;
		}
	}
}