.left-heading {
	font-weight: bold;
	text-align: right;
	color: $brand-accent;
	margin-top:30px;
	@media screen and (max-width: $screen-xs-max) {
		text-align: left;
		color: $brand-primary;
		font-size: 24px;
		margin: 20px 0 10px 0;
	}
}

.position {
	display: inline-block;
	margin-bottom: 6px;
}

.contact_media {
	>div.col-xs-12 {
		margin-top:10px;
	}
	// these are magic numbers until icons are made responsive
	.telephone p {
		line-height:41px;
		font-size: 1.5em;
	}
	.email p {
		line-height:32px;
		font-size: 1.5em;
	}
}

#ft_experience,
#fl_experience {
	>div:nth-child(n+3) {
		margin-bottom:20px;
		@extend .leather-panel;
	}
}